﻿@page "/tools/uuidgen"
@using System.Collections.ObjectModel;
@using System.Text
@using System.ComponentModel.DataAnnotations
@using RamenTurismo.Website.Client.Model;
@inject UuidGeneratorService uuidGenerator

<PageTitle>UUIDs Generator</PageTitle>

<EditForm Model="@this" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row g-2">
        <div class="col-auto">
            <InputNumber @bind-Value="Count" class="form-control" />
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" type="submit">Generate</button>
        </div>
    </div>
</EditForm>

@if (_uuids != null)
{
    <div>
        <h1>Generated</h1>
        <table class="table table-striped">
            <tbody>
                @foreach (Guid item in _uuids)
                {
                    <tr>
                        <td>@item.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    [Range(1, 300)]
    [Parameter]
    [SupplyParameterFromQuery(Name = "count")]
    public int? Count { get; set; }

    private Guid[]? _uuids;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        if (Count != null)
        {
            OnValidSubmit();
        }
    }

    public void OnValidSubmit()
    {
        _uuids = uuidGenerator.Generate(Count.GetValueOrDefault()).ToArray();
    }
}
