﻿<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <InputText class="form-control me-2" type="search" placeholder="Search" aria-label="Search" @bind-Value="_searchText" />
    </div>
</nav>

@code {
    private string? _searchText;
}
